PROJECT_ENV=local
LOG_LEVEL=INFO
OMIE_PREFIX=CUSTOMER
OMIE_DRY_RUN=true
ACTIVESOFT_PAYLOAD_LOG=false
XML_INPUT_DIR=/data/xml/inbox
XLSX_OUTPUT_DIR=/data/output
ACTIVE_SOFT_BASE_URL=https://example.invalid
ACTIVE_SOFT_CUSTOMER=preencher_localmente
CUSTOMER_OMIE_APP_KEY=preencher_localmente
CUSTOMER_OMIE_APP_SECRET=preencher_localmente
CUSTOMER_OMIE_ID_CONTA_CORRENTE=preencher_localmente
CUSTOMER_OMIE_CODIGO_CATEGORIA=preencher_localmente
